html {
    overflow-y: scroll;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    
}

.body-content {
    flex: 1 0 auto;
    background-image: url(../images/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.main-content {
    padding: 30px;
}

.footer {
    flex: 0 0 auto;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.nospace {
    margin: 0;
    padding: 0;
    list-style: none;
}

.inline * {
    display: inline-block;
}

.inline *:last-child {
    margin-right: 0;
}

.pushright li {
    margin-right: 20px;
}

.pushright li:last-child {
    margin-right: 0;
}

.clear {
    display: block;
}

.clear::before, .clear::after {
    display: table;
    content: "";
}

.clear, .clear::after {
    clear: both;
}

a {
    outline: none;
    text-decoration: none;
}


.fl_left {
    float: left;
}

.fl_right {
    float: right;
}

/* ФОН
--------------------------------------------------------------------------------------------------------------- */
body, input, textarea {
    font-family: Verdana, Geneva, sans-serif;
}

h1, h2, h3, h4, h5, h6, .heading {
    font-family: Georgia, "Times New Roman", Times, serif;
}

.hoc {
    display: block;
    margin: 0 auto;
}

/* Top Bar
--------------------------------------------------------------------------------------------------------------- */
#topbar {
    padding: 5px 0;
    font-size: 12px;
}

#topbar i {
    margin: 0 5px 0 0;
    line-height: normal;
}


/* Заголовк */

#header {
    padding: 15px 0;
}

#header #logo {
    margin-top: 18px;
    font-variant: small-caps;
}

#header #logo h1 {
    margin: 0;
    padding: 0;
    font-size: 40px;
    font-family: 'Cinzel', serif;
}

.round {
    width: 100px;
    height: 100px;
    float: left;
}


/* Затухание перехода */

*, *::before, *::after {
    transition: all .3s ease-in-out;
}

/* Навигация */

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


#mainav {
    line-height: normal;
}

/* Верхняя навигация */
#mainav ul {
    text-transform: uppercase;
}

#mainav ul ul {
    z-index: 9999;
    position: absolute;
    width: 180px;
    text-transform: none;
    font-weight: 400;
}

#mainav ul ul ul {
    left: 180px;
    top: 0;
}

#mainav li {
    display: inline-block;
    position: relative;
    margin: 0 15px 0 0;
    padding: 0;

}

#mainav li:last-child {
    margin-right: 0;

}

#mainav li li {
    width: 100%;
    margin: 0;

}

#mainav li a {
    display: block;
    padding: 20px 0;

}

#mainav li li a {
    border: solid;
    border-width: 0 0 1px 0;
    
}

#mainav li li a {
    display: block;
    margin: 0;
    padding: 10px 15px;
}

#mainav ul ul {
    visibility: hidden;
    opacity: 0;
}

#mainav ul li:hover>ul {
    visibility: visible;
    opacity: 1;
}

/* ВТОРОЕ МЕНЮ */
nav select {
    display: none;
}

@media (max-width: 900px) {
    nav ul {
        display: none;
    }

    nav select {
        display: inline-block;
    }
}

/* Ряды */
.abc {
    color: #4A4A4A;
    background-color: #F2F1EE;
}

.row0 {
    color: #4A4A4A;
    background-color: #F2F1EE;
}

.row1 {
    color: #FFFFFF;
    background-color: #3C4348;

}

.row2 {
    color: #FFFFFF;
    background-color: #212427;
}

.row6, .row6 a {
    color: #EAEAEA;
    background-color: #3C4348;
}

/* Заголовок */
#header #logo * {
    color: inherit;
    text-decoration: none;
}

/* Навигация */
#mainav li a {
    color: inherit;
    background-color: inherit;
}

#mainav .active a, #mainav a:hover, #mainav li:hover>a {
    color: #00BCDF;
    background-color: inherit;
}

#mainav li li a, #mainav .active li a {
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, .6);
    border-color: rgba(0, 0, 0, .6);
}

#mainav li li:hover>a, #mainav .active .active>a {
    color: #FFFFFF;
    background-color: #00BCDF;
}

#mainav form select {
    color: #FFFFFF;
    background-color: #3C4348;
}

.admin {
    float: right;
}

/* Вопрос/ответ */

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #45a049;
}

/* КНОПКИ */
.custom-btn-16 {
    background-color: #4CAF50;
    font-size: 20px;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.custom-btn-16:hover {
    opacity: 1;
}

.card-header {
    font-size: 20px;
}

/* Контакты */

.contacts {
    display: flex;
    align-content: center;
}

.bold {
    font-weight: bold;
}

.google-map {
    margin-left: 99px;
}

/* Тренерский состав */
.trener-body {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.trener-table {
    padding-left: 35px;
}

.trener-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

.trener-title {
    color: grey;
    font-size: 18px;
}

/* Расчет рейтинга */

.rating-area {
    margin: 0 auto;
}

.rating-area:not(:checked)>input {
    display: none;
}

.rating-area:not(:checked)>label {
    float: right;
    width: 42px;
    padding: 0;
    cursor: pointer;
    font-size: 25px;
    line-height: 32px;
    color: lightgrey;
    text-shadow: 1px 1px #bbb;
}

.rating-area:not(:checked)>label:before {
    content: '★';
}

.rating-area>input:checked~label {
    color: gold;
    text-shadow: 1px 1px #c60;
}

.rating-area:not(:checked)>label:hover,
.rating-area:not(:checked)>label:hover~label {
    color: gold;
}

.rating-area>input:checked+label:hover,
.rating-area>input:checked+label:hover~label,
.rating-area>input:checked~label:hover,
.rating-area>input:checked~label:hover~label,
.rating-area>label:hover~input:checked~label {
    color: gold;
    text-shadow: 1px 1px goldenrod;
}

.rate-area>label:active {
    position: relative;
}

/* Вывод рейтинга */
.rating-mini {
    display: inline-block;
    font-size: 0;
}

.rating-mini span {
    padding: 0;
    font-size: 20px;
    line-height: 1;
    color: lightgrey;
}

.rating-mini>span:before {
    content: '★';
}

.rating-mini>span.active {
    color: gold;
}

/* Каталог картинок */
.catalog-img {
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 150px;
    height: 200px;
    padding: 5px;
}

.catalog-img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

/* АДАПТИВ */

/* Медиа-запросы
--------------------------------------------------------------------------------------------------------------- */
@-ms-viewport {
    width: device-width;
}


/* Максимальная ширина — ноутбук, рабочий стол и т. д.
--------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width:978px) {
    .hoc {
        max-width: 978px;
    }
}


/* Мобильные устройства
--------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width:900px) {
    .hoc {
        max-width: 90%;
    }

    #mainav {
        padding: 20px 0;
    }

    #mainav ul {
        display: none;
    }

    #mainav form {
        display: block;
    }


    #comments input[type="reset"] {
        margin-top: 10px;
    }

    .pagination li {
        display: inline-block;
        margin: 0 5px 5px 0;
    }


    #copyright p:first-of-type {
        margin-bottom: 10px;
    }
}


@media screen and (max-width:750px) {
    .imgl, .imgr {
        display: inline-block;
        float: none;
        margin: 0 0 10px 0;
    }

    .fl_left, .fl_right {
        display: block;
        float: none;
    }

    .one_half, .one_third, .two_third, .one_quarter, .two_quarter, .three_quarter {
        display: block;
        float: none;
        width: auto;
        margin: 0 0 30px 0;
        padding: 0;
    }

    #topbar {
        text-align: center;
    }

    #topbar * {
        margin: 0;
    }

    #topbar ul {
        margin: 0 0 10px 0;
        line-height: normal;
    }

    #topbar ul li {
        display: inline-block;
        margin-right: 20px;
    }

    #topbar ul li:last-child {
        margin-right: 0;
    }

    #header {
        text-align: center;
    }

    #header #logo {
        margin: 0 0 30px 0;
    }

    #pageintro article {
        float: none;
        max-width: none;
        text-align: left;
    }

    #pageintro article .heading {
        font-size: 36px;
    }
}


/* Разное
--------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width:650px) {
    .scrollable {
        display: block;
        width: 100%;
        margin: 0 0 30px 0;
        padding: 0 0 15px 0;
        overflow: auto;
        overflow-x: scroll;
    }

    .scrollable table {
        margin: 0;
        padding: 0;
        white-space: nowrap;
    }

    .inline li {
        display: block;
        margin-bottom: 10px;
    }

    .pushright li {
        margin-right: 0;
    }

    .font-x2 {
        font-size: 1.4rem;
    }

    .font-x3 {
        font-size: 1.6rem;
    }
}

/* FOOTER */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

section {
    width: 100%;
    display: inline-block;
    background: #333;
    height: 50vh;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    text-decoration: underline;
}

.footer-distributed {
    background: #212427;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 25px 22px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 40%;
}

/* The company logo */

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Open Sans', cursive;
    margin: 0;
}

.footer-distributed h3 span {
    color: lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    font-weight: 400;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #222;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    font-weight: 400;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: lightseagreen;
    text-decoration: none;
    ;
}

.footer-distributed .footer-links a:before {
    content: "|";
    font-weight: 300;
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
    content: none;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 20%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}

/* Футер */
@media (max-width: 880px) {

    .footer-distributed {
        font: bold 14px sans-serif;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i {
        margin-left: 0;
    }

}

/* Вкладка цена, таблица */
.price_table {
    width: 100%;
    margin-bottom: 5%;
    border: 1px solid #dddddd;
    border-collapse: collapse;
}

.price_table th {
    font-weight: bold;
    padding: 5px;
    background: #efefef;
    border: 1px solid #dddddd;
}

.price_table td {
    border: 1px solid #dddddd;
    padding: 5px;
}

@media(max-width: 992px) {
    .price_table thead {
        display: none;
    }

    .price_table tr {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 30px;
    }

    .price_table td {
        margin: 0 -1px -1px 0;
        padding-top: 35px;
        position: relative;
        width: 50%;
    }

    .price_table td span {
        display: block;
    }
}

@media(max-width: 480px) {
    .price_table td {
        width: 100%;
    }
}