/* Slideshow Gallery */

.GalleryBody {
    font-family: Arial;
    margin: 0;
}

img {
    vertical-align: middle;
}

/* Размещение контейнера изображения (необходимо для размещения стрелок влево и вправо) */
.GalleryContainer {
    position: relative;
}

/* Скрыть изображения по умолчанию */
.GalleryMySlides {
    text-align: center;
}

/* Добавляем указатель при наведении на миниатюры изображений */
.GalleryCursor {
    cursor: pointer;
}

/* Кнопки «Далее» и «Назад» */
.GalleryPrev,
.GalleryNext {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Поместите "следующую кнопку" вправо */
.GalleryNext {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* Текст числа (1/3 и т. д.) */
.GalleryNumberText {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Контейнер для текста изображения */
.GalleryCaption-container {
    text-align: center;
    background-color: grey;
    padding: 2px 16px;
    color: white;
}

.GalleryRow:after {
    content: "";
    display: table;
    clear: both;
}

/* Шесть столбцов рядом */
.GalleryColumn {
    float: left;

}

/* Добавляем эффект прозрачности для миниатюр */
.GalleryDemo {
    opacity: 0.6;
}

.active,
.GalleryDemo:hover {
    opacity: 1;
}

.GalleryOverlay {

    bottom: 0;
    background: #F2F1EE;
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    color: white;
    font-size: 17px;
    text-align: center;
}

.GalleryMySlides:hover .GalleryOverlay {
    opacity: 1;
}

/* ............................ */
.wrapper {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
    word-wrap: break-word;
}

.bgded {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

#pageintro .btn.inverse {
    color: #00BCDF;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
}

#pageintro .btn.inverse:hover {
    color: #FFFFFF;
    background-color: #00BCDF;
    border-color: #00BCDF;
}

@media screen and (max-width:750px) {

    #pageintro article {
        float: none;
        max-width: none;
        text-align: left;
    }

    #pageintro article .heading {
        font-size: 36px;
    }
}

#pageintro {
    padding: 150px 0;
}

#pageintro article {
    display: block;
    float: right;
    max-width: 52%;
    text-align: right;
}

#pageintro article div * {
    margin: 0;
    line-height: normal;
}

#pageintro article .heading {
    margin-bottom: 30px;
    font-size: 42px;
    text-transform: uppercase;
}

#pageintro article p {
    font-size: 16px;
}

.overlay {
    position: relative;
    z-index: 1;
}

.overlay::after {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
}

.overlay {
    color: #FFFFFF;
    background-color: inherit;
}

.overlay::after {
    color: inherit;
    background-color: rgba(0, 0, 0, .55);

}

.inspace-30 {
    padding: 30px;
}

.btmspace-30 {
    margin-bottom: 7px;
}

.heading {
    margin: 0 0 20px 0;
    font-size: 22px;
    line-height: normal;
    font-weight: normal;
    text-transform: capitalize;
    font-family: 'Cinzel', serif;
}

.nospace {
    margin: 0;
    padding: 0;
    list-style: none;
}

.inline * {
    display: inline-block;
}

.inline *:last-child {
    margin-right: 0;
    width: 100%;

}


/* ----------------- */

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.accordionpanel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}


/* Цитаты великих боксеров*/
.container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 9px;
    margin: 9px 0;
    text-align: center;
    opacity: 0.8;
}


.avatar {
    vertical-align: middle;
    width: 70px;
    height: 70px;
    border-radius: 70%;
}

/* ///////////////////////// */
.col-container {
    display: table;
    width: 100%;
}

.col {
    text-align: center;
    display: table-cell;
    padding: 16px;
}