/* Slideshow Gallery */

.GalleryBody {
    font-family: Arial;
    margin: 0;
}

img {
    vertical-align: middle;
}

/* Размещение контейнера изображения (необходимо для размещения стрелок влево и вправо) */
.GalleryContainer {
    position: relative;
}

/* Скрыть изображения по умолчанию */
.GalleryMySlides {
    text-align: center;
}

/* Добавляем указатель при наведении на миниатюры изображений */
.GalleryCursor {
    cursor: pointer;
}

/* Кнопки «Далее» и «Назад» */
.GalleryPrev,
.GalleryNext {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Поместите "следующую кнопку" вправо */
.GalleryNext {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* Текст числа (1/3 и т. д.) */
.GalleryNumberText {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Контейнер для текста изображения */
.GalleryCaption-container {
    text-align: center;
    background-color: grey;
    padding: 2px 16px;
    color: white;
}

.GalleryRow:after {
    content: "";
    display: table;
    clear: both;
}

/* Шесть столбцов рядом */
.GalleryColumn {
    float: left;

}

/* Добавляем эффект прозрачности для миниатюр */
.GalleryDemo {
    opacity: 0.6;
}

.active,
.GalleryDemo:hover {
    opacity: 1;
}

.GalleryOverlay {
    
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    color: white;
    font-size: 17px;
    text-align: center;
}

.GalleryMySlides:hover .GalleryOverlay {
    opacity: 1;
}