input[type=Modaltext],
input[type=Modalpassword],
input[type=Modaltel] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=Modaltext]:focus,
input[type=Modalpassword],
input[type=Modaltel] :focus {
    background-color: #ddd;
    outline: none;
}

.modal_cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

.modal_cancelbtn, .modal_signupbtn {
    float: left;
    width: 50%;
}

.modal_container {
    padding: 16px;
}

.modal_modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #474e5d;
    padding-top: 50px;
}

.modal_content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 80%;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.modal_close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.modal_close:hover,
.modal_close:focus {
    color: #f44336;
    cursor: pointer;
}

.modal_clearfix::after {
    content: "";
    clear: both;
    display: table;
}


@media screen and (max-width: 300px) {
    .modal_cancelbtn, .modal_signupbtn {
        width: 100%;
    }
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

@media screen and (max-width: 300px) {
    span.registr_psw {
        display: block;
        float: none;
    }
}